<!DOCTYPE html>

<html lang="@UICulture">
<head>
    @{Html.RenderPartial(MVC.Views.Shared._LayoutHead);}
    @RenderSection("Head", false)
    <title>@ViewBag.Title</title>
</head>
<body id="s-@(ViewBag.PageId)Page" class="@(ViewBag.BodyClass) no-navigation">
    @RenderBody()
</body>
</html>