@model Serene.Navigation.NavigationModel

@{
    int sectionIdx, linkIdx;

    sectionIdx = 0;
    foreach (var section in Model.Items)
    {
        var sectionClass = (Model.ActiveSection == sectionIdx ? "active" : "") + (section.Children.IsEmptyOrNull() ? "" : " treeview");
        var sectionIcon = section.IconClass ?? (section.Children.Count > 0 ? "icon-layers" : "icon-link");
        var sectionTitle = LocalText.TryGet("Navigation." + section.Title) ?? section.Title;
        var sectionUrl = section.Url ?? "javascript:;";
        var sectionTarget = section.Target; if (sectionTarget != null) { sectionTarget += " target=" + sectionTarget; }

        <li class="@sectionClass">
            <a href="@sectionUrl"@sectionTarget>
                <i class="fa @(sectionIcon)"></i>
                <span>@sectionTitle</span>
                @if(!section.Children.IsEmptyOrNull()) {
                    <i class="fa fa-angle-left pull-right"></i>
                }
            </a>

            @if (section.Children.Count > 0)
            {
            <ul class="treeview-menu">
            @{linkIdx = 0;}

            @foreach (var link in section.Children)
            {
                var linkClass = Model.ActiveSection == sectionIdx && Model.ActiveLink == linkIdx ? "active" : "";
                var linkIcon = link.IconClass ?? (link.Children.Count > 0 ? "icon-layers" : "fa icon-circle");
                var linkUrl = link.Url ?? "javascript:;";
                var linkTarget = link.Target; if (linkTarget != null) { linkTarget += " target=" + linkTarget; }
                var title = LocalText.TryGet("Navigation." + section.Title + "/" + link.Title) ?? link.Title;

                <li class="@linkClass">
                    <a href="@(linkUrl)"@linkTarget>
                        <i class="fa @linkIcon"></i>
                        <span>@title</span>
                    </a>
                </li>

                linkIdx++;
            }
            </ul>
            }
            @{sectionIdx++;}
        </li>
    }

<script type="text/javascript">
    function openWindow(url, width, height) {
        height = height || (screen.availHeight - 60);
        width = width || (screen.availWidth - 10);
        var x = (screen.availWidth - width) / 2 - 5; if (x < 0) x = 0;
        var y = (screen.availHeight - height) / 2 - 25; if (y < 0) y = 0;
        var winPopup = window.open(url, "", "status=0, toolbar=0, width=" + width + ", height=" + height + 
            ", scrollbars=1, resizable=yes, left=" + x + ", top=" + y);
    }
</script>
}